@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color-dark: #FAF0E6; 
        --bg-color-dark: #352F44; 
  }
  body.light-theme {
      --text-color: #444444; 
    --bg-color: #f2f2f2;  
  }
}

body {
    background: var(--bg-color);
    color: var(--text-color); 
    margin: 0;
    font-family: 'Poppins'; 
}


.toolbar {
    background: var(--bg-color);
    padding: 1em;
    display: flex;
    place-content: space-between; 
}

.toolbutton {
    background-color: var(--bg-color); 
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 8px;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: var(--text-color); 
    display: inline-block;
    font-family: 'Poppins'; 
}

.themeButton {
    background-color: var(--bg-color); 
    border-style: none;
    border-color: var(--text-color);
    text-align: center;
    color: var(--text-color); 
    display: inline-block;
}

.icon {
    filter: none;
}

body.dark-theme .icon {
    filter: invert(100%);
}

ul {
    list-style-type : none;
    margin: 0;
    padding: 0; 
}

a {
    color : var(--text-color);
    font-size : 12px;
    font-family : 'Poppins'; 
}


.content {
    align-self : center;
    padding : 0;
    margin : 1em; 
}

table {
  border-collapse: separate; 
  border-spacing: 8px;
}



td {
    border-width : 2px; 
    border-style : solid;
    border-radius : 8px;
    border-color : var(--text-color);
    text-align : center;   
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.new-row {
    animation: fadeIn 0.5s ease-out;
}
